Flask==2.3.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
python-dotenv==1.0.0
SQLAlchemy==2.0.23
Werkzeug==2.3.7
Flask-Login==0.6.2
authlib==1.2.1
requests==2.31.0
psycopg2-binary==2.9.9
jieba==0.42.1
pycccedict==1.2.0
cryptography==41.0.7
